
@import 'extras.scss';

.devred {
  border: 1px solid red !important;
}
.devblue {
  border: 1px solid blue !important;
}
.devgreen {
  border: 1px solid green !important;
}
.devmag {
  border: 1px solid magenta !important;
}

*, ::before, ::after {
  border-width: 0;
  border-style: solid;
  border-color: #E5E7EB;
  box-sizing: border-box;
}

// !VA TODO: Fix this font stack
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

html {
  // !VA 2023.11.05
  background-color: #f6f6f6;
  color: var(--primary_text-color);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  overflow-y: scroll;
}

.App {
  position: relative;
  width: 100vw;
  text-align: center;
}

// !VA Header is in Header.module.scss

// !VA Pages


.section_grid--bluesmen {
  width: 100%;
  margin-top: .5rem;
  margin-bottom: .75rem;
}

.section_grid--bluesmen-rule {
  margin: .5rem 0;
  border-width: 0;
  border-top-width: 1px;
  border-color: #000;
  background-color: #000;
}

.section_grid--bluesmen-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: .25rem;
}

.section_grid--bluesmen-figure {
  position: relative;
  width: 92px;
}

.section_grid--bluesmen-img {
  margin-right: .25rem;
}

.section_grid--bluesmen-caption {
  position: absolute;
  bottom: 3px;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 3px;
  background: rgba(0, 0, 0, .6);
  color: #FFF;
  font-family: var(--secondary_font);
  font-size: .875rem;
  font-weight: 300;
  line-height: 1.25rem;
}
