

// PRIMARY COLORS
//------------------
// !VA Primary color: dark blue
$primary_color:  #103a4e;
// !VA Secondary = medium blue
$secondary_color: #116992;
// !VA Tertiary color: light blue
$teriary_color:  #dceaec;

// ACCENTS
// -------
// !VA Primary accent: gold
$primary_accent_color: #e0b04c;
// !VA Secondary accent color: medium gray
$secondary_accent_color: #959595;
// !VA Tertiary accent color: light gray
$tertiary_accent_color: #E1E1E1;
// !VA Rule color: light gray
$horiz_rule_color: #666;

// !VA Unused
$marquee_color: #AD0110;
$icon_color: #8b0000;


// BACKGROUND COLORS
//------------------
$primary_bg_color: #f6f6f6;
// !VA Same as $tertiary_color
$header_bg_color: #dceaec;
// $home_bg_color: #212121;
// $content_bg_color: #E1E1E1;
// $subnav1_bg_color: #E1E1E1;
// $footer_bg_color: #0e2660;
// $footer_bg_color: #A520DA;

// TYPOGRAPHY
//-----------
$content_text-color: #212121;
$light_text_color: #dceaec;
$dark_text_color: #212121;
$showmore_text_color: #8E000B;

// FONTS
$primary_font: 'Open Sans', Helvetica, sans-serif;
$secondary_font: 'Inter',  Helvetica, sans-serif;
$tertiary_font: 'Oswald', 'Arial Narrow', sans-serif;
// $condensed_font: 'Roboto Condensed', sans-serif;
$monospace_font: 'Inconsolata', monospace;

// LINKS
//------
$primary_link_color: #FCB900;
$primary_hover_color:  #8DD1FF;
// !VA Same as secondary color
$secondary_link_color: #116992;
// !VA Same as primary_accent_color
$secondary_hover_color: #e0b04c;
$showmore_link_color: #8e000b;





// !VA Font sizes
// !VA Text content
// !VA Footnotes
// $rootFootnoteFontSize: .875rem;
// $rootFootnoteLineHeight: 1rem;
// $mphoneFootnoteFontSize: 1rem;
// $mphoneFootnoteLineHeight: 1.188rem;
// $lphoneFootnoteFontSize: 1.063rem;
// $lphoneFootnoteLineHeight: 1.25rem;
// $tabletFootnoteFontSize: 1.063rem;
// $tabletFootnoteLineHeight: 1.25rem;
// $desktopFootnoteFontSize: 1.125rem;
// $desktopFootnoteLineHeight: 1.313rem;
// $ldesktopFootnoteFontSize: 1.188rem;
// $ldesktopFootnoteLineHeight: 1.313rem;
// !VA Table cells
// $rootTableFontSize: .913rem;
// $rootTableLineHeight: 1.125rem;
// $mphoneTableFontSize: 1rem;
// $mphoneTableLineHeight: 1.25rem;
// $lphoneTableFontSize: 1.063rem;
// $lphoneTableLineHeight: 1.313rem;
// $tabletTableFontSize: 1.125rem;
// $tabletTableLineHeight: 1.438rem;
// $desktopTableFontSize: 1.25rem;
// $desktopTableLineHeight: 1.588rem;
// $ldesktopTableFontSize: 1.313rem;
// $ldesktopTableLineHeight: 1.638rem;
// !VA Text Content
// $rootTextFontSize: 1.063rem;
// $rootTextLineHeight: 1.375rem;
// $mphoneTextFontSize: 1.125rem;
// $mphoneTextLineHeight: 1.5rem;
// $lphoneTextFontSize: 1.188rem;
// $lphoneTextLineHeight: 1.575rem;
// $tabletTextFontSize: 1.25rem;
// $tabletTextLineHeight: 1.688rem;
// $desktopTextFontSize: 1.313rem;
// $desktopTextLineHeight: 1.938rem;
// $ldesktopTextFontSize: 1.5rem;
// $ldesktopTextLineHeight: 2.125rem;
// !VA Heading Subhead
// $rootSubheadFontSize: 1.063rem;
// $rootSubheadLineHeight: 1.313rem;
// $mphoneSubheadFontSize: 1.125rem;
// $mphoneSubheadLineHeight: 1.375rem;
// $lphoneSubheadFontSize: 1.188rem;
// $lphoneSubheadLineHeight: 1.5rem;
// $tabletSubheadFontSize: 1.25rem;
// $tabletSubheadLineHeight: 1.575rem;
// $desktopSubheadFontSize: 1.375rem;
// $desktopSubheadLineHeight: 1.75rem;
// $ldesktopSubheadFontSize: 1.5rem;
// $ldesktopSubheadLineHeight: 1.813rem;


// !VA Heading Head
// $rootHeadFontSize: 1.438rem;
// $rootHeadLineHeight: 1.813rem;
// $mphoneHeadFontSize: 1.625rem;
// $mphoneHeadLineHeight: 1.938rem;
// $lphoneHeadFontSize: 1.625rem;
// $lphoneHeadLineHeight: 1.938rem;
// $tabletHeadFontSize: 1.75rem;
// $tabletHeadLineHeight: 1.938rem;
// $desktopHeadFontSize: 1.875rem;
// $desktopHeadLineHeight: 2.063rem;
// $ldesktopHeadFontSize: 2.125rem;
// $ldesktopHeadLineHeight: 2.313rem;


// UI AND TOOLTIPS
// ---------------
$primary_icon_color: #d3d3d3;
$button_color: #841117;
$separator_color: #808080;
$tooltip_color: #4c3800;
$tooltip_color: #725503;

$test_color: #606060;


