@import 'variables.scss';
figure-o-loaded-or-not-ithink-it-score > {
}
@import './mixins/mediaqueries.scss';

// !VA Logo is in /Branding
// !VA Nav is in /Navbar

// !VA Header 
// !VA Header height is top_bar height plus img_box height
.header {
  // @include mphone {
  //   height: 134px;
  // }
  // @include lphone {
  //   height: 116px;
  // }
  // @include tablet {
  //   height: 140px;
  // }
  // @include desktop {
  //   height: 160px;
  // }
  // @include ldesktop {
  //   height: 200px;
  // }
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 10;
  background-color: #dceaec;
}

.top_bar {
  @include mphone {
    padding: .75rem .75rem .5rem .75rem;
  }
  @include lphone {
    padding: 1rem 1rem .75rem 1rem;
  }
  @include tablet {
    justify-content: space-between;
  }
  @include desktop {
    justify-content: space-between;
  }
  @include ldesktop {
    justify-content: space-between;
    padding: 1rem 3rem .75rem;
  }
  position: relative;
  display: flex;
  width: 100%;
  // max-width: 1200px;
  justify-content: space-between;
  // !VA 2023.11.28
  padding: .75rem .75rem .5rem .75rem;
  opacity: 1;
  z-index: 1;
} 

.branding {
  @include mphone {
    margin: .125rem 0 0 .25rem;
    width: 140px;
  }
  @include lphone {
    margin: .125rem 0 0 .25rem;
    width: 160px;
  }
  @include tablet {
    margin: 1rem 0 .5rem .25rem;
    width: 160px;
  }
  @include desktop {
    margin: 1rem 0 .75rem .25rem;
    width: 160px;
  }
  @include ldesktop {
    margin: 1rem 0 1.25rem 1rem;
    width: 160px;
  }
  width: 126px;
  height: auto;
}

.branding_mobile_link {
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
  @include ldesktop {
    display: none;
  }
  display: block;
}

.branding_mobile_img {
    @include mphone {
      // width: 156px;
    }
    @include lphone {
      // width: 168px;
    }
    @include tablet {
      display: none;
    }
    @include desktop {
      display: none;
    }
    @include ldesktop {
      display: none;
    }

  display: block;
  // !VA 2023.12.01
  width: 100%;
  height: auto;
}

.branding_desktop {
  @include tablet {
    display: block;
    width: 240px;
    // margin: 1.25rem 0 0 1.25rem;
  }
  @include desktop {
    display: block;
    width: 290px;
  }
  @include ldesktop {
    display: block;
    width: 320px;
  }
  display: none;
  height: auto;
}



// NAVBAR - this is the parent of the mobile menu. It needs a width, which is modified in the media queries as appropriate for device. Display is block, changed to flex im MQ to set desktop menu position relative to .navbar container. The height of .navbar determines the vertical position of the desktop menu.
.navbar {
    @include mphone {
      width: 46px;
    }
    @include lphone {
      width: 50px;
    }
    @include tablet {
      width: 380px;
      padding: .5rem 1rem 0 0;
    }
    @include desktop {
      width: 440px;
      padding: .5rem 1.5rem 0 0;
    }
    @include ldesktop {
      width: 500px;
      padding: .5rem 1rem 0 0;
    }
  display: block;
  // width: 3.75rem;
  // height: 3.75rem;
  // margin: .5rem 1rem 0 0;
  // margin: .5rem .5rem 0 0;
  padding: 0;
  // !VA 2023.12.01
  width: 44px;
}

// !VA Set display: block here, and display: none on +tablet. If this element is displayed 
.mobile_menu {
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
  @include ldesktop {
    display: none;
  }
  display: block;
}

.mobile_menu_icon {

  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile_menu_logo {
  @include mphone {
    width: 36px;
    // height: 40px;
  }
  @include lphone {
    width: 44px !important;
  }
  // !VA 2023.12.01
  // width: 40px !important;
  width: 32px;
  // height: 40px;
  height: auto;
}

.mobile_menu_arrow {
  height: 15px;
  width: 30px !important;
  height: 15px !important;
}

.mobile_menu_arrow_svg {
  @include lphone {
    margin-top: .25rem;
    width: 36px;
    height: 18px;
  }
  width: 30px !important;
  height: 15px !important;
}

.mobile_menu_list {
  list-style-type: none;
}

.mobile_menu_list_item {
  padding: .25rem 0;
  color: $secondary_color;
  font-family: $primary_font;
  font-size: 1.75rem;
  font-weight: 600;
  text-align: center;
}

.mobile_menu_list_item {
  color: $primary_color;
}

// !VA 2023.12.04 This has to be display: none on mobile otherwise the container will consume space in the box model
.desktop_menu {
  @include tablet {
    display: block;
      visibility: visible;
  }
  @include desktop {
    display: block;
  }
  @include ldesktop {
    display: block;
  }
  display: none;
  height: 100%;
}

// !VA Hidden on mobile devices, so set all +tablet properties here and mod as necessary in MQs 
.desktop_menu_list {
  @include tablet {
    visibility: visible;
  }
  @include desktop {
    visibility: visible;
  }
  @include ldesktop {
    visibility: visible;
  }
  // !VA 2023.11.05
  display: flex;
  // !VA Position menu at bottom of .nav element
  align-items: center;
  justify-content: space-between;
  // width: 340px;
  // !VA height = height of .nav
  height: 100%;
  // padding-right: 1rem;
  visibility: hidden;
  list-style-type: none;
}

.desktop_menu_list_item {
  // color: $primary_color;

}

.desktop_menu_list_item a {
  @include tablet {
    font-size: 1.188rem;
  }
  @include desktop {
    font-size: 1.575rem;
  }
  @include ldesktop {
    font-size: 1.75rem;
  }
  font-family: $secondary_font;
  font-size: 1.313rem;
  font-weight: 600;
  line-height: 1.75rem;
  color: $secondary_link_color;
  font-weight: 500;
  &:hover {
    color: $secondary_hover_color !important;
  } 
}

.mobile_menu_close {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  // padding: 2rem;
}

.desktop_menu_list_item  {
  &:hover {
    &:after {
      transition: opacity .25s; 
      border-bottom: 8px solid var(--primary_icon-color);
      opacity: 1;
    }
  }
  a {
    &:hover {
      color: #333;
    }

  }
  /* opacity: 1;
  transition: opacity .25s; 
  border-bottom: 8px solid var(--primary_icon-color); */
}

// !VA 2023.12.05 Bottom bar is gone...
// .bottom_bar {
//     @include tablet {
//       height: 2px;
//     }
//     @include desktop {
//       height: 2px;
//     }
//     @include ldesktop {
//       height: 2px;
//     }
//   position: absolute;
//   bottom: 0;
//   display: flex;
//   justify-content: space-evenly;
//   width: 100%;
//   height: 2px;
//   // height: 1.25rem;
//   background-color: $primary_accent_color;
// }

// !VA 2023.12.05 Bottombar deleted

.bricks_container {
  @include mphone {
    // VA!
    // width: 375px;
    height: 88px; 
  }
  @include lphone {
    // VA!
    // width: 414px;
    height: 108px;
  }
  @include tablet {
    // width: 2058px;
    height: 136px;
  }
  @include desktop {
    // VA!
    height: 136px;
  }
  @include ldesktop {
    // !VA 2023.12.05 Trying to get rid of the vertical scrollbar
    height: 144px;
  }
  position: relative;
  display: block;
  opacity: 1;
  width: 100%;
  height: 64px; 
  overflow: hidden; 
  background: $primary_accent_color;
  // z-index: -1;
}

// !VA 2023.12.05 This was never implemented...
.bricks_slider {
  // @include mphone {
  //   max-width: 375px;
  // }
  // max-width: 414px;
  // height: 60px;
  // max-width: 800px;
  // max-width: 320px;
  // margin: 0 auto;
  // position: relative;
  // overflow: hidden;
  // transform: translate3d(0, 0, 0);
  // overflow: hidden;
  display: block;
  @include ldesktop {
    // width: 8600px;
  }
  background: rgba(0, 0, 255, .3) !important; //devblue
}


.bricks_slider .bricks {
  @include tablet {
    animation: moveSlideshow 360s linear infinite;
  }
  @include desktop {
    animation: desktopMoveSlideshow 360s linear infinite;
  }
  @include ldesktop {
    animation: lDesktopMoveSlideshow 360s linear infinite;
  }
  display: flex;
  justify-content: flex-start;
  position: absolute;
  height: auto;
  // !VA 2023.12.05 Didn't work
  // !VA 2023.12.13
  visibility: visible !important;
  opacity: 1 !important;
  height: 64px;
  height: 100%;
  // width: 100%;

  transform: translate3d(0, 0, 0);
  animation: moveSlideshow 40s linear infinite;
  background: rgba(255, 0, 0, .3) !important; //devred
  border: 2px solid black;
}

// !VA Stop animation on hover
.bricks:hover, .bricks:focus {
  cursor: pointer;
  animation-play-state: paused;
}

@keyframes moveSlideshow {
  100% { 
    // !VA Initial from the demo, see links in OneNote CSS notebook
    // transform: translateX(-66.6666%);  
    transform: translateX(-84.1%);  
  }
}

@keyframes desktopMoveSlideshow {
  100% { 
    transform: translateX(-82.2%);  
  }
}

@keyframes lDesktopMoveSlideshow {
  100% { 
    transform: translateX(-71.7%);  
  }
}

// !VA 2023.12.02 brick_img is in the Brick component
.brick_img {
  display: block;
  width: auto;
  // !VA Height is defined in bricks_container
  height: 100%;
  // !VA Exposes the primary_accent_color background of the parent
  padding: 2px .125rem 2px 0;
  visibility: visible !important;
  opacity: 1 !important;
}

.ldesktop_brick_img {
  display: none;
}