@import 'variables.scss';
@import './mixins/mediaqueries.scss';

// !VA Logo is in /Branding
// !VA Nav is in /Navbar

// !VA Header 
.header {
  @include mphone {
    height: 98px;
  }
  @include lphone {
    height: 116px;
  }
  @include tablet {
    height: 140px;
  }
  @include desktop {
    height: 160px;
  }
  @include ldesktop {
    height: 200px;
  }
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 90px;
  z-index: 10;
  background-color: #dceaec;
}

.top_bar {
  @include tablet {
    justify-content: space-between;
  }
  @include desktop {
    justify-content: space-between;
  }
  @include ldesktop {
    justify-content: space-between;
  }
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;

}

.branding {
  @include mphone {
    width: 140px;
    margin: .75rem 0 0 1rem;
  }
  @include lphone {
    width: 170px;
    margin: .75rem 0 0 1rem;
  }
  @include tablet {
  
  }
  @include desktop {
  
  }
  @include ldesktop {
  
  }
  width: 140px;
  margin: .75rem 0 0 1rem;
}

.branding_mobile_link {
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
  @include ldesktop {
    display: none;
  }
  display: block;
}

.branding_mobile_img {
    @include mphone {
      width: 156px;
      margin: .5rem 0 1rem 1.25rem;
    }
    @include lphone {
      width: 168px;
      margin: .5rem 0 1rem 1.25rem;
    }
    @include tablet {
      display: none;
    }
    @include desktop {
      display: none;
    }
    @include ldesktop {
      display: none;
    }

  display: block;
  height: auto;
  // margin: .5rem 0 0 1.25rem;
  // padding: .5rem;
}

.branding_desktop {
  @include tablet {
    display: block;
    width: 240px;
    margin: 1.25rem 0 0 1.25rem;
  }
  @include desktop {
    display: block;
    width: 290px;
    margin: 1.25rem 0 0 1.25rem;
  }
  @include ldesktop {
    display: block;
    width: 320px;
    margin: 1.5rem 0 0 1.5rem;
  }
  display: none;
  height: auto;
}




// NAVBAR - this is the parent of the mobile menu. It needs a width, which is modified in the media queries as appropriate for device. Display is block, changed to flex im MQ to set desktop menu position relative to .navbar container. The height of .navbar determines the vertical position of the desktop menu.
.navbar {
    @include mphone {
      width: 46px;
      margin: .575rem 1.5rem 0 0;
    }
    @include lphone {
      width: 50px;
      margin: .575rem 1.5rem 0 0;
    }
    @include tablet {
      width: 380px;
      padding: .5rem 1rem 0 0;
    }
    @include desktop {
      width: 440px;
      padding: .5rem 1.5rem 0 0;
    }
    @include ldesktop {
      width: 500px;
      padding: .5rem 1rem 0 0;
    }
  display: block;
  // width: 3.75rem;
  // height: 3.75rem;
  margin: .5rem 1rem 0 0;
  // margin: .5rem .5rem 0 0;
  padding: 0;
  width: 44px;
}

// !VA Set display: block here, and display: none on +tablet. If this element is displayed 
.mobile_menu {
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
  @include ldesktop {
    display: none;
  }
  display: block;
}

.mobile_menu_icon {
  @include mphone {
    padding-top: .5rem;
  }
  @include lphone {
    padding-top: .5rem;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile_menu_logo {
  @include lphone {
    width: 54px !important;
  }
  width: 40px !important;
  height: auto;
}

.mobile_menu_arrow_svg {
  @include lphone {
    margin-top: .25rem;
    width: 36px;
    height: 18px;
  }
  width: 30px;
  height: 15px;
}

.mobile_menu_list {
  list-style-type: none;
}

.mobile_menu_list_item {
  padding: .25rem 0;
  color: $secondary_color;
  font-family: $primary_font;
  font-size: 1.75rem;
  font-weight: 600;
  text-align: center;
}

.mobile_menu_list_item {
  color: $primary_color;
}

.desktop_menu {
  // @include tablet {
  //   display: block;
  //     visibility: visible;
  // }
  // @include desktop {
  //   display: block;
  // }
  // @include ldesktop {
  //   display: block;
  // }
  // display: none;
  height: 100%;
}

// !VA Hidden on mobile devices, so set all +tablet properties here and mod as necessary in MQs 
.desktop_menu_list {
  @include tablet {
    visibility: visible;
  }
  @include desktop {
    visibility: visible;
  }
  @include ldesktop {
    visibility: visible;
  }
  // !VA 2023.11.05
  display: flex;
  // !VA Position menu at bottom of .nav element
  align-items: center;
  justify-content: space-between;
  // width: 340px;
  // !VA height = height of .nav
  height: 100%;
  // padding-right: 1rem;
  visibility: hidden;
  list-style-type: none;
}

.desktop_menu_list_item {
  // color: $primary_color;

}

.desktop_menu_list_item a {
  @include tablet {
    font-size: 1.188rem;
  }
  @include desktop {
    font-size: 1.575rem;
  }
  @include ldesktop {
    font-size: 1.75rem;
  }
  font-family: $secondary_font;
  font-size: 1.313rem;
  font-weight: 600;
  line-height: 1.75rem;
  color: $secondary_link_color;
  font-weight: 500;
  // background: rgba(255, 0, 0, .3) !important; //devred
  &:hover {
    color: $secondary_hover_color !important;
  } 
}

.mobile_menu_close {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  // padding: 2rem;
}

.desktop_menu_list_item  {
  &:hover {
    &:after {
      transition: opacity .25s; 
      border-bottom: 8px solid var(--primary_icon-color);
      opacity: 1;
    }
  }
  a {
    &:hover {
      color: #333;
    }

  }
  /* opacity: 1;
  transition: opacity .25s; 
  border-bottom: 8px solid var(--primary_icon-color); */
}

.bottom_bar {
    @include tablet {
      height: 2px;
    }
    @include desktop {
      height: 2px;
    }
    @include ldesktop {
      height: 2.25rem;
    }
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 2px;
  // height: 1.25rem;
  background-color: $primary_accent_color;
}

.bottom_bar_content {
  @include tablet {
    
  }
  display: none;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1200px;
}

// !VA This has gone away
.bottom_bar h2 {
    @include mphone {
      font-size: 1.063rem;
    }
    @include lphone {
      font-size: 1.125rem;
    }
    @include tablet {
      font-size: 1.5rem;
    }
    @include desktop {
      font-size: 1.75rem;
      line-height: 1.75rem;
    }
    @include ldesktop {
      font-size: 1.75rem;
      line-height: 2rem;
    }
  display: none;
  padding-bottom: .125rem;
  font-family: "Inconsolata";
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  // font-stretch: expanded;
  // font-stretch: 140%;
  color: $light_text_color;
}

