@import 'variables.scss';
@import './mixins/mediaqueries.scss';

// Background Images
// !VA home page
.home_bg {
  @include mphone {
    min-height: 510px;
    background-position: -440px 0px;
  }
  @include lphone {
    min-height: 720px;
    background-position: -640px 0px;
  }
  @include tablet {
    min-height: 680px;
    background-image: url('https://crossroadsbluesexperience.com/bg-img/landing-bg.jpg');
    background-position: center -140px;
    background-size: 240%;
  }
  @include desktop {
    height: 100vh;
    background-image: url('https://crossroadsbluesexperience.com/bg-img/landing-bg.jpg');
    background-position: center -100px;
    background-size: 200%;
  }
  @include ldesktop {
    height: 100vh;
    background-image: url('https://crossroadsbluesexperience.com/bg-img/landing-bg.jpg');
    background-position: center top;
    background-size: cover;
  }
  // height: 100vh;
  min-height: 420px;
  padding-bottom: .75rem;
  background-image: url('../../public/images/landing-bg.jpg');
  background-repeat: no-repeat;
  background-position: -380px 0px;
  background-attachment: fixed;
  background-size: cover;
}


.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  // min-height: 100vh;
  margin: 0 auto;
  padding: 0 1rem;
  // background: white;
}



.content_text, .content_list_item_svg, .content_list_item, .content_list_bullet {
  @include mphone {
    padding: .25rem 0;
    font-size: $mphoneTextFontSize;
    line-height: $mphoneTextLineHeight;
  }
  @include lphone {
    padding: .25rem 0;
    font-size: $lphoneTextFontSize;
    line-height: $lphoneTextLineHeight;
  }
  @include tablet {
    padding: .25rem 0 .125rem;
    font-size: $tabletTextFontSize;
    line-height: $tabletTextLineHeight;
  }
  
  @include desktop {
    padding: .25rem 0;
    font-size: $desktopTextFontSize;
    font-weight: 400;
    line-height: $desktopTextLineHeight;
  }
  @include ldesktop {
    padding: .25rem 0;
    font-size: $ldesktopTextFontSize;
    font-weight: 400;
    line-height: $ldesktopTextLineHeight;
  }
  padding: .25rem 0 .188rem;
  color: $dark_text_color;
  font-family: $primary_font;
  font-size: $rootTextFontSize;
  line-height: $rootTextLineHeight;
  text-align: left;
}

.home_expander {
  // background: rgba(0, 128, 0, .3) !important; //devgreen
  &:first-child {
    // background: rgba(255, 0, 0, .3) !important; //devred

  }
}


// .accordion_arrow {
//   width: 36px;
//   height: auto;
//   background: rgba(0, 0, 255, .3) !important; //devblue
// }

.blob {
  background: rgba(0, 128, 0, .3) !important; //devgreen
}




