// !VA You can not import any stylesheets into a CSS module that contain instructions that are not compatibile with CSS modules. For instance, you can't import globals.scss or custom.scss because those global stylesheets reference global styles and HTML elements like body, html etc.
@import 'variables.scss';
@import './mixins/mediaqueries.scss';

// !VA Typography
.semibold_italic {
  font-weight: 600;
  font-style: italic;
}

.italic {
  font-style: italic;
}


// !VA Placeholder style
.placeholder {
  background: rgba(255, 0, 0, .3) !important; //devred
}


// Background Images
// !VA home page
.home_bg {
  @include mphone {
    min-height: 510px;
    background-position: 69% 20px;
  }
  @include lphone {
    min-height: 720px;
    background-position: -640px 0px;
    background-position: 69% 0px;
  }
  @include tablet {
    // min-height: 680px;
    min-height: 1024px;
    background-image: url('../../public/images/landing-bg.jpg');
    background-position: 76% 0;
    background-size: 200%;
  }
  @include desktop {
    // min-height: 860px;
    background-image: url('../../public/images/landing-bg.jpg');
    background-position: 76% 0;
    background-size: 180%;
  }
  @include ldesktop {
    background-image: url('../../public/images/landing-bg.jpg');
    background-position: center top;
    background-size: cover;
  }
  min-height: 420px;
  padding-bottom: .75rem;
  background-image: url('../../public/images/landing-bg.jpg');
  background-repeat: no-repeat;
  background-position: -380px 0px;
  background-position: -360px center;
  background-attachment: fixed;
  background-size: cover;
}


.section {
  @include tablet {
    padding: 0 2rem 2rem;
  }
  @include desktop {
    padding: 0 3rem 2rem;
  }
  @include ldesktop {
    // max-width: 1400px;
    align-items: center;
    padding: 0 3rem 2rem;
  }
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  // min-height: 100vh;
  margin: 0 auto;
  padding: 0 1rem 2rem;
} 



.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.figure_full_width {
  @include tablet {
    margin: .75rem 0 .5rem;
  }
  @include desktop {
    margin: .75rem 0 .5rem;
  }
  @include ldesktop {
    width: 600px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: .5rem 0 .25rem;
}

.figure_full_width_image {
  @include desktop {
    width: 60%
  }
  @include ldesktop {
    width: 100%;
  }
  width: 80%;
  height: auto;
}

.figure_two_up {
  @include tablet {
    width: 80%;
    padding: 1rem 0;
  }
  @include desktop {
    width: 74%;
    padding: 1rem 0;
  }
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: .5rem 0;
}

.figure_two_up_image {
  @include tablet {
    padding: .5rem;
  }
  width: 49%;
  height: auto;
}

.figure_home_gif_image {
  @include lphone {
    width: 300px;
  }
  @include tablet {
    width: 340px;
  }
  @include desktop {
    width: 360px;
  }
  width: 260px;
  height: auto;
  margin: 1rem 0;
  border: 5px solid $primary_accent_color;
  
}


.content_text, .content_list_item_svg, .content_list_item, .content_list_bullet {
  @include mphone {
    padding: .25rem 0;
    font-size: $mphoneTextFontSize;
    line-height: $mphoneTextLineHeight;
  }
  @include lphone {
    padding: .25rem 0;
    font-size: $lphoneTextFontSize;
    line-height: $lphoneTextLineHeight;
  }
  @include tablet {
    padding: .25rem 0 .125rem;
    font-size: $tabletTextFontSize;
    line-height: $tabletTextLineHeight;
  }
  
  @include desktop {
    padding: .25rem 0;
    font-size: $desktopTextFontSize;
    font-weight: 400;
    line-height: $desktopTextLineHeight;
  }
  @include ldesktop {
    padding: .25rem 0;
    font-size: $ldesktopTextFontSize;
    font-weight: 400;
    line-height: $ldesktopTextLineHeight;
  }
  padding: .25rem 0 .188rem;
  color: $dark_text_color;
  font-family: $primary_font;
  font-size: $rootTextFontSize;
  line-height: $rootTextLineHeight;
  text-align: left;
}

// !VA HOME PAGE-SPECIFIC

.home_separator_bar {
  position: relative;
  display: block;
  width: 100%;
  // height: 10px;
  margin: 1rem auto 0;
  // background-color: $secondary_accent_color;
}

.home_content {
  @include ldesktop {
    max-width: 1200px;
  }
  width: 100%;
}

.home_content_heading {
  // background-color: $primary_color;
}

.home_content_heading_h1, .home_content_heading_h2 {
  @include tablet {
    padding: 1rem 0 .5rem;
  }
  padding: .5rem 0 0;
  color: $primary_color;
  font-family: $primary_font;
  font-size: 1.25rem;
  font-weight: 700 !important;
  line-height: 1.5rem;
  text-align: center;
}

// !VA Home Page - Inspire section

.grid_bluesmen {
  @include mphone {
    width: 320px;
  }
  @include lphone {
    width: 340px;
  }
  @include tablet {
    width: 720px;
  }
  @include desktop {
    width: 600px;
    margin-right: 40px;
    padding: 1rem 1rem 1rem 0;
  }
  @include ldesktop {
    width: 840px;
    padding-right: 80px;

  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem 0 0;
  width: 280px;
}

.grid_bluesmen_rule {  
  @include mphone {
    // margin-right: .5rem;
  }
  @include lphone {
    // margin-right: 1rem;
  }
  @include tablet {
    // margin-right: .5rem;
  }
  @include desktop {
    // margin-right: .313rem;
  }
  @include ldesktop {
    // margin-right: 1.75rem;
  }
  display: block;
  width: 100%;
  margin: .25rem auto;
  border-width: 0;
  border-top-width: 1px;
  border-color: #000;
  background-color: #000;
}

.grid_bluesmen_grid {
  @include tablet {
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: .375rem;
  }
  @include desktop {
    grid-template-columns: repeat(6, minmax(0, 1fr));
      gap: .5rem;
  }
  @include ldesktop {
    grid-template-columns: repeat(6, minmax(0, 1fr));
      gap: .5rem;
  }
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: .375rem;
}

.grid_bluesmen_figure {
  @include mphone {
    // width: 102px;
  }
  @include lphone {
    // width: 104px;
  }
  @include tablet {
    // width: 108px;
  }
  @include desktop {
    // width: 128px;
  }
  @include ldesktop {
    // width: 146px;
  }
  position: relative;
  // width: 92px;
}

.grid_bluesmen_img {
  margin-right: .25rem;
}

.grid_bluesmen_caption {
  position: absolute;
  bottom: 3px;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 3px;
  background: rgba(0, 0, 0, .6);
  color: #FFF;
  font-family: var(--secondary_font);
  font-size: .875rem;
  font-weight: 300;
  line-height: 1.25rem;
}

.grid_fiveeras {
  @include mphone {
    width: 320px;
  }
  @include lphone {
    width: 340px;
  }
  @include tablet {
    width: 720px;
  }
  @include desktop {
    width: 600px;
    margin-right: 40px;
    padding: 1rem 1rem 1rem 0;
  }
  @include ldesktop {
    width: 840px;
    padding-right: 80px;

  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem 0 0;
  width: 280px;
}

.grid_fiveeras_rule {  
  @include mphone {
    // margin-right: .5rem;
  }
  @include lphone {
    // margin-right: 1rem;
  }
  @include tablet {
    // margin-right: .5rem;
  }
  @include desktop {
    // margin-right: .313rem;
  }
  @include ldesktop {
    // margin-right: 1.75rem;
  }
  display: block;
  width: 100%;
  margin: .25rem auto;
  border-width: 0;
  border-top-width: 1px;
  border-color: #000;
  background-color: #000;
}

.grid_fiveeras_grid {
  @include tablet {
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: .375rem;
  }
  @include desktop {
    grid-template-columns: repeat(6, minmax(0, 1fr));
      gap: .5rem;
  }
  @include ldesktop {
    grid-template-columns: repeat(6, minmax(0, 1fr));
      gap: .5rem;
  }
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: .375rem;
}

.grid_fiveeras_figure {
  @include mphone {
    // width: 102px;
  }
  @include lphone {
    // width: 104px;
  }
  @include tablet {
    // width: 108px;
  }
  @include desktop {
    // width: 128px;
  }
  @include ldesktop {
    // width: 146px;
  }
  position: relative;
  // width: 92px;
}

.grid_fiveeras_img {
  margin-right: .25rem;
}

.grid_fiveeras_caption {
  position: absolute;
  bottom: 3px;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 3px;
  background: rgba(0, 0, 0, .6);
  color: #FFF;
  font-family: var(--secondary_font);
  font-size: .875rem;
  font-weight: 300;
  line-height: 1.25rem;
}

// !VA Home Page - Educate section



.figcaption_educate_above {

}

.figcaption_educate_below {

}


// !VA These styles should be moved into the typography SCSS file and defined as global in kebab case
.semibold {
  font-weight: 600;
}

.semibold_italic {
  font-weight: 600;
  font-style: italic;
}

.primary_color {
  // font-family: $secondary_font;
  color: $primary_color;
}

.secondary_color {
  // font-family: $secondary_font;
  color: $secondary_color;
}

.link_secondary {
  color: $secondary_color;
  font-weight: 600;
}

.link_secondary:hover {
  color: $primary_accent_color;
}

// .accordion_arrow {
//   width: 36px;
//   height: auto;
//   background: rgba(0, 0, 255, .3) !important; //devblue
// }

// !VA PROGRAM PAGE

.program_head {
  @include tablet {
    margin: 1.5rem 0 1rem;
  }
  @include desktop {
    margin: 1.5rem 0 1rem;
  }
  @include ldesktop {
    margin: 1.5rem 0 2rem;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1rem 0 .5rem;

}

// // !VA Replacing this image logo with a text logo for SEO
.program_branding_logo {
  // !VA Not used yet
}

.program_head_branding {
  @include mphone {
    font-size: 1.375rem;
    line-height: 1.5rem;
  }
  @include lphone {
    font-size: 1.438rem;
    line-height: 1.638rem;
  }
  @include tablet {
    font-size: 1.75rem;
    line-height: 2rem;
  }
  @include desktop {
    margin-bottom: .125rem;
    font-size: 2.25rem;
    line-height: 2.638rem;
  }
  @include ldesktop {
    margin: .75rem 0 .25rem;
    font-size: 2.75rem;
    line-height: 2.638rem;
  }
  color: $primary_color;
  font-family: $secondary_font;
  font-size: 1.188rem;
  line-height: 1.375rem;
}

.program_head_slug {
  @include mphone {
    font-size: 1.063rem;
    line-height: 1.375rem;
    letter-spacing: .22rem;
  }
  @include lphone {
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: .22rem;
  }
  @include tablet {
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: .33rem;
  }
  @include desktop {
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: .47rem;
  }
  @include ldesktop {
    margin-left: .25rem;
    font-size: 1.813rem;
    font-weight: 300;
    line-height: 2rem;
    letter-spacing: .6rem;
  }
  color: $secondary_color;
  font-family: $monospace_font;
  font-size: .938rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: .17rem;
}

.program_head_rule {
  @include mphone {
    width: 90%;
  }
  @include lphone {
    width: 85%;
  }
  @include tablet {
    width: 396px;
  }
  @include desktop {
    width: 450px;
  }
  @include ldesktop {
    width: 620px;
  }
  display: block;
  width: 94%;
  margin: .25rem auto;
  border-width: 0;
  border-top-width: .063rem;
  border-color: $secondary_color;
  background-color: $secondary_color;
  opacity: .3;
}

.program_heading {
  @include mphone {
    margin: 1rem 0 .25rem;
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
  @include lphone {
    margin: 1rem 0 .25rem;
    font-size: 1.188rem;
    line-height: 1.438rem;
  }
  @include tablet {
    margin: 1.5rem 0 .5rem;
    font-size: 1.313rem;
    line-height: 1.438rem;
  }
  @include desktop {
    margin: 1.5rem 0 .5rem;
    font-size: 1.377rem;
    line-height: 1.638rem;
  }
  @include ldesktop {
    margin: 1.5rem 0 .5rem;
    font-size: 1.813rem;
    line-height: 1.638rem;
  }
  margin: .75rem 0 0;
  color: $primary_color;
  font-family: $secondary_font;
  font-family: $primary_font;
  font-size: 1.063rem;
  line-height: 1.375rem;
}

.secondary_color {
  color: $secondary_color;
}


